<div class="container">
    <header>
        <div class="col-md-12">

            <nav style="clear:both;"> 
                <ol class="breadcrumb repo-breadcrumb">
                  <li class="breadcrumb-item"><a href="/administrator" [routerLink]="['/administrator']" class="router-link-active">Administrator board</a></li>
                  <li class="breadcrumb-item"><a href="/educationgoaltable" [routerLink]="['/educationgoaltable']" class="router-link-active">Education Goal management</a></li>
                </ol> 
              </nav>

            <h2 *ngIf="formCreateEditEducationGoal.value.id == null" style="text-align: center;">Add new education goal</h2>
            <h2 *ngIf="formCreateEditEducationGoal.value.id != null" style="text-align: center;">Edit education goal (ID: {{formCreateEditEducationGoal.value.id}})</h2>
            <div class="card card-container">
                <form [formGroup]="formCreateEditEducationGoal" novalidate>

                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Opis</mat-label>
                        <input type="text" name="opis" formControlName="opis" (change)="checkEducationGoalOpisExist($event.target.value)" matInput required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 92%;">
                        <mat-label>Topic</mat-label>
                        <mat-select formControlName="topic" [compareWith]="compare" (selectionChange)="checkEducationGoalExistWithTopic($event.source.value)" required>
                            <mat-option *ngFor="let topic of topics" [value]="topic">{{topic.opis}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button type="button" [routerLink]="['/topictable/createedittopic']" style="bottom: 3px;" mat-icon-button color="primary" title="Add new">
                        <mat-icon>add_box</mat-icon>
                    </button>

                    <div>
                        <button class="btn btn-primary btn-block" type="submit" (click)="save()" *ngIf="formCreateEditEducationGoal.value.id == null">Add new education goal</button>
                        <button class="btn btn-primary btn-block" type="submit" (click)="save()" *ngIf="formCreateEditEducationGoal.value.id != null" >Edit education goal</button>
                    <button mat-raised-button class="btn-block" type="button" (click)="cancel()" >Cancel</button>
                    </div>

                    <div class="alert alert-warning" *ngIf="isFaild">
                        Failed!<br />{{ errorMessage }}
                    </div>
                </form>
            </div>
        </div>
    </header>
</div>