<div class="container">
    <header>
        <div class="col-md-12">

            <nav style="clear:both;"> 
                <ol class="breadcrumb repo-breadcrumb">
                  <li class="breadcrumb-item"><a href="/administrator" [routerLink]="['/administrator']" class="router-link-active">Administrator board</a></li>
                  <li class="breadcrumb-item"><a href="/classtimetable" [routerLink]="['/classtimetable']" class="router-link-active">Class time management</a></li>
                </ol> 
              </nav>

            <h2 *ngIf="formCreateEditClassTime.value.id == null" style="text-align: center;">Add new class time</h2>
            <h2 *ngIf="formCreateEditClassTime.value.id != null" style="text-align: center;">Edit class time (ID: {{formCreateEditClassTime.value.id}})</h2>
            <div class="card card-container">
                <form [formGroup]="formCreateEditClassTime" novalidate>

                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Vreme pocetka</mat-label>
                        <input matInput type="datetime-local" name="vremePocetka" formControlName="vremePocetka" class="example-full-width" required>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Vreme kraja</mat-label>
                        <input matInput type="datetime-local" name="vremeKraja" formControlName="vremeKraja" class="example-full-width" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Tip nastave</mat-label>
                        <mat-select formControlName="typeOfTeaching" [compareWith]="comparator" (selectionChange)="checkClassTimeExist()" required>
                            <mat-option *ngFor="let typeOfTeaching of typeOfTeachings" [value]="typeOfTeaching">{{typeOfTeaching.naziv}} </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 92%;">
                        <mat-label>Ishod</mat-label>
                        <mat-select formControlName="topic" [compareWith]="comparator" required>
                            <mat-option *ngFor="let topic of topics" [value]="topic">{{topic.opis}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button type="button" [routerLink]="['/topictable/createedittopic']" style="bottom: 3px;" mat-icon-button color="primary" title="Add new">
                        <mat-icon>add_box</mat-icon>
                    </button>

                    <mat-form-field appearance="outline" style="width: 92%;">
                        <mat-label>Realizacija predmeta</mat-label>
                        <mat-select formControlName="subjectRealization" [compareWith]="comparator" (selectionChange)="checkClassTimeExist()" required>
                            <mat-option *ngFor="let subjectRealization of subjectRealizations" [value]="subjectRealization">{{subjectRealization.subject.naziv}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button type="button" [routerLink]="['//subjectrealizationtable/createeditsubjectrealization']" style="bottom: 3px;" mat-icon-button color="primary" title="Add new">
                        <mat-icon>add_box</mat-icon>
                    </button>

                    <div>
                        <button class="btn btn-primary btn-block" type="submit" *ngIf="formCreateEditClassTime.value.id == null" (click)="save();">Save class time</button>
                        <button class="btn btn-primary btn-block" type="submit" *ngIf="formCreateEditClassTime.value.id != null" (click)="save();">Edit class time</button>
                        <button mat-raised-button class="btn-block" type="button" (click)="cancel();">Cancel</button>
                    </div>

                    <div class="alert alert-warning" *ngIf="isFaild">
                        Failed!<br />{{ errorMessage }}
                    </div>
                </form>
            </div>
        </div>
    </header>
</div>