<div class="container">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      
    <header>
      <nav>
        <ol class="breadcrumb repo-breadcrumb">
          <li class="breadcrumb-item"><a href="/administrator" [routerLink]="['/administrator']" class="router-link-active">Administrator board</a></li>
        </ol> 
      </nav>
  
        <div class="box">
          <div>
            <button mat-raised-button color="primary" (click)="add()">Add new podforum</button>
          </div>
          <div>
            <form [formGroup]="searchForm">
              <div class="form-group has-search block" style="margin-left: 8px; ">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" formControlName="search" (keyup)="applyFilter()" placeholder="Podforum">
              </div>
  
              <div class="block" *ngIf="this.search != ''">
                <span class="cross" (click)="resetSearch()" title="Reset search">x</span>
              </div>
            </form>
          </div>
            <div class="push">
                <button mat-raised-button title="Set forum visibility to private" *ngIf="forum?.javni == true" (click)="updateVidljivost(false)" style="margin-right: 5px;">Javni</button>
                <button mat-raised-button title="Set forum visibility to public" *ngIf="forum?.javni == false" (click)="updateVidljivost(true)" style="margin-right: 5px;">Privatni</button>
                <button mat-raised-button color="warn" (click)="delete()" title="Delete selected objects">Delete</button>
            </div>
        </div>
  
  
          <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
  
                  <!-- Checkbox Column -->  
                  <ng-container matColumnDef="select">  
                    <th mat-header-cell *matHeaderCellDef>  
                        <mat-checkbox (change)="$event ? masterToggle() : null"  
                                      [checked]="selection.hasValue() && isAllSelected()"  
                                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                                      color="primary"></mat-checkbox>  
                    </th>  
                    <td mat-cell *matCellDef="let forum;">  
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(forum) : null"  
                                      [checked]="selection.isSelected(forum)" 
                                      [aria-label]="checkboxLabel(forum)"
                                      color="primary"></mat-checkbox>  
                    </td>  
                  </ng-container> 
  
                  <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                      <ng-container *matCellDef="let podforum">
                        <td mat-cell> {{podforum.id}} </td>
                      </ng-container>
                    </ng-container> 
  
                <ng-container matColumnDef="naziv">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </th>
                  <ng-container *matCellDef="let podforum">
                    <td mat-cell> {{podforum.naziv}} </td>
                  </ng-container>
                </ng-container> 

                <ng-container matColumnDef="opis">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis </th>
                  <ng-container *matCellDef="let podforum">
                    <td mat-cell> {{podforum.opis}} </td>
                  </ng-container>
                </ng-container> 

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <ng-container *matCellDef="let podforum">
                    <td mat-cell>
                      <div class="example-button-row">
                        <button mat-icon-button color="primary" (click)="selectForChange(podforum)" title="Edit Object">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === podforum ? null : podforum); $event.stopPropagation()">
                          <mat-icon *ngIf="expandedElement !== podforum">keyboard_arrow_down</mat-icon>
                          <mat-icon *ngIf="expandedElement === podforum">keyboard_arrow_up</mat-icon>
                        </button>
                      </div>
                    </td>
                  </ng-container>
                </ng-container>
  
                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let podforum" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="example-element-detail" [@detailExpand]="podforum == expandedElement ? 'expanded' : 'collapsed'">
                      <div class="example-element-description">Teme: <span class="example-element-description-attribution" *ngIf="podforum.tema.length == 0">There is not a topic</span>
                        <span class="example-element-description-attribution" *ngFor="let tema of podforum.tema; let isLast=last">{{tema.naziv}}{{isLast ? '' : ', '}}</span>
                        <br>
                      </div>
                    </div>
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let podforum; columns: columnsToDisplayWithExpand;"
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElement === podforum"
                    (click)="expandedElement = expandedElement === podforum ? null : podforum">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of podforum"></mat-paginator>
            </div>
  
            <div *ngIf="dataSource?.data.length === 0">No Records Found!</div>

      </header>
  </div>
  