<div class="container">
    <header>
        <div class="col-md-12">

          <nav style="clear:both;"> 
            <ol class="breadcrumb repo-breadcrumb">
              <li class="breadcrumb-item"><a href="/administrator" [routerLink]="['/administrator']" class="router-link-active">Administrator board</a></li>
              <li class="breadcrumb-item"><a href="/universitytable" [routerLink]="['/universitytable']" class="router-link-active">University management</a></li>
            </ol> 
          </nav>

            <h2 *ngIf="formCreateEditUniversity.value.id == null" style="text-align: center;">Add new university</h2>
            <h2 *ngIf="formCreateEditUniversity.value.id != null" style="text-align: center;">Edit university (ID: {{formCreateEditUniversity.value.id}})</h2>
                    
            <div class="card card-container">

                <form [formGroup]="formCreateEditUniversity" novalidate>
                    <div class="form-group">

                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" name="name" formControlName="name" (change)="checkName()" class="example-full-width" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Contact Details</mat-label>
                      <input matInput type="text" name="contactDetails" formControlName="contactDetails" class="example-full-width" placeholder="Ex. 021/2233456" required>
                  </mat-form-field>


                  <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Description</mat-label>
                      <textarea matInput name="description" formControlName="description" class="example-full-width"  rows="5" placeholder="Enter Description" required>
                      </textarea>
                  </mat-form-field>  

                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>EST DATE</mat-label>
                        <input matInput type="date" name="establishmentDate" formControlName="establishmentDate" class="example-full-width" required>
                    </mat-form-field>

                    <form [formGroup]="formCreateEditAddress" novalidate>
                        <table class="example-full-width" cellspacing="0">
                          <tr>
                            <td><mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Country</mat-label>
                                <mat-select required formControlName="country">
                                  <mat-option *ngFor="let country of countrys" (click)="selectCountry(country)" [ngValue]="country" [value]="country">{{ country }} </mat-option>
                                </mat-select>
                            </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>City</mat-label>
                                <mat-select formControlName="city">
                                  <mat-option *ngFor="let city of citys" [ngValue]="city" [value]="city">{{ city }} </mat-option>
                                </mat-select>
                            </mat-form-field>
                            </td>
                              <td><mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Street and number</mat-label>
                                <input matInput type="text" name="streetAndNumber" formControlName="streetAndNumber">
                              </mat-form-field>
                            </td>
                          </tr>
                        </table>
                      </form>

                      <mat-form-field appearance="outline" style="width: 92%;" *ngIf="this.role == 'ROLE_ADMINISTRATOR'">
                        <mat-label>Headmaster</mat-label>
                        <mat-select formControlName="headmaster" [compareWith]="comparator" required>
                            <mat-option *ngFor="let headmaster of headmasters;" [value]="headmaster">{{headmaster.user.name}} {{headmaster.user.surname}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button type="button" *ngIf="this.role == 'ROLE_ADMINISTRATOR'" [routerLink]="['/userstable/createedituser']" style="bottom: 3px;" mat-icon-button color="primary" title="Add new">
                      <mat-icon>add_box</mat-icon>
                    </button>
                      
                    </div>

                    <div class="form-group">
                      <button class="btn btn-primary btn-block" type="submit" (click)="save()" *ngIf="formCreateEditUniversity.value.id == null">Add University</button>
                      <button class="btn btn-primary btn-block" type="submit" (click)="save()" *ngIf="formCreateEditUniversity.value.id != null">Edit University</button>
                      <button mat-raised-button class="btn-block" type="button" (click)="cancel()" >Cancel</button>
                    </div>
                </form>

                <div class="alert alert-warning" *ngIf="isFailed">
                  Failed!<br />{{ errorMessage }}
                </div>

            </div>
        </div>
    </header>
</div>

